:root {
    --primary: #eae8db;
    --secondary:#ddbea6;
    --tertiary:#e6584d;
    --fortiary:#d97a74;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}
.top-section{
    width: 2540px;
}
/*INTRO SECTION HEADER AND NAV*/
header{
    padding: 20px 35px;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    margin: 0px;
}
header a{
    font-size: 25px;
    color: var(--primary);
}
header a:hover{
    color: var(--tertiary);
}
header h1{
    color: var(--primary);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background-color: var(--fortiary);
    padding: 5px;
    padding-left: 100px;
    position: relative;
    right: 40px;;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
header nav ul li{
    display: inline;
    padding: 10px 15px; 
    font-weight: lighter;
    font-size: 30px;
    text-decoration: underline;
    position: relative;
    right: 40px;
}

nav{
    margin: 7px 0;
}

h1{
    color: var(--tertiary);
    font-size: 70px;
    
}
/*hero needs fixing*/
.hero{
    background-image: url(images/hero.gif);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
   
}
.hero img{
    background-size: 80%;
    background-attachment: fixed;
    

    
   
}
h2{
    display: flex;
    font-size: 100px;
    color: var(--primary);
    margin: 0px 100px;
    position: relative;
    top: 90px;
    right: 0px;
    left: 30px;

}
/*FIRST SECTION ABOUT*/
.about h1{
    position: relative;
    right: 550px;
    bottom: 125px;
    width: 900px;
    text-align: right;
}
.vertical-line{
display: inline-block;
border-left: 3px solid var(--secondary);
position: relative;
left: 423px;
top: 115px;
height: 300px;
}
p {
    position: relative;
    right: 0px;
    left: 50px;
    bottom: 240px;
    font-size: 20px;
    color: var(--tertiary);
    line-height: 1.5;
}
.about-info{
    width: 1500px;
  margin: 0 auto 30px auto;
}
.about-me {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    border-left: 5px solid var(--secondary);
}
/*SECOND SECTION WORK*/
.vertical-line2{
display: inline-block;
border-left: 3px solid var(--secondary);
position: relative;
left: 253px;
bottom: 110px;
height: 450px;
}
.work{
    display: flex;
    justify-content: flex-start;

}
.projects{
    display: flex;
    align-items: stretch;
}
#works{
    position: relative;
    left: 200px;
    top: 40px;
}
/*first project*/
.buddy img{
    border: solid var(--fortiary) 5px;
    width: 500px;
    height: 300px;
    position: relative;
    left: 400px;
}
h3{
    font-size: 30px;
}

.buddy p{
    font-weight: lighter;
}
.buddy h3, .buddy p{
    text-decoration: underline var(--fortiary);
    background-color: var(--fortiary);
    color: var(--primary);
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 0px ;
    width: 300px;
    margin: 0px;
    position: relative;
    left: 400px;
    bottom: 100px;
    display: flex;
    line-height: 1;
}
.buddy{
    position: relative;
    bottom: 100px;
}
.buddy img{
   height: 200px;
   width: 700px;
}
/*second project*/
.O19 p{
    font-weight: lighter;
}
.O19 h3, .O19 p{
    text-decoration: underline var(--fortiary);
    background-color: var(--fortiary);
    color: var(--primary);
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 0px ;
    width: 200px;
    margin: 0px;
    position: relative;
    left: 0px;
    bottom: 100px;
    display: flex;
    line-height: 1;
}
.O19{
    position: relative;
    top: 110px;
    right: 300px;
}
.O19 img{
   height: 200px;
   width: 300px;
   border: solid var(--fortiary) 5px;
}
/*third project*/
.Future p{
    font-weight: lighter;
}
.Future h3, .Future p{
    text-decoration: underline var(--fortiary);
    background-color: var(--fortiary);
    color: var(--primary);
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 0px ;
    width: 200px;
    margin: 0px;
    position: relative;
    left: 0px;
    bottom: 100px;
    display: flex;
    line-height: 1;
}
.Future{
    position: relative;
    top: 110px;
    right: 275px;
}
.Future img{
   height: 200px;
   width: 300px;
   border: solid var(--fortiary) 5px;
}
/*fourth project*/
.Horiseon p{
    font-weight: lighter;
}
.Horiseon h3, .Horiseon p{
    text-decoration: underline var(--fortiary);
    background-color: var(--fortiary);
    color: var(--primary);
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 0px ;
    width: 200px;
    margin: 0px;
    position: relative;
    left: 0px;
    bottom: 100px;
    display: flex;
    line-height: 1;
}
.Horiseon{
    position: relative;
    top: 110px;
    right: 250px;
}
.Horiseon img{
   height: 200px;
   width: 300px;
   border: solid var(--fortiary) 5px;
}
/*fifth project*/
.FAS p{
    font-weight: lighter;
}
.FAS h3, .FAS p{
    text-decoration: underline var(--fortiary);
    background-color: var(--fortiary);
    color: var(--primary);
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 0px ;
    width: 200px;
    margin: 0px;
    position: relative;
    left: 0px;
    bottom: 100px;
    display: flex;
    line-height: 1;
}
.FAS{
    position: relative;
    top: 110px;
    right: 225px;
}
.FAS img{
   height: 200px;
   width: 300px;
   border: solid var(--fortiary) 5px;
}
/*THIRD SECTION CONTACT*/
.vertical-line3{
    display: inline-block;
    border-left: 3px solid var(--secondary);
    position: relative;
    left: 425px;
    bottom: 200px;
    height: 300px;
    }
.contact{
    position: relative;
    top: 0px;
    left: 0px;
    width: 1000px;
}
.contact h1{
    position: relative;
    right: 650px;
    top: 20px;
    text-align: right;
}
.contact a{
color:var(--fortiary);
font-size: 25px;
text-decoration: underline;
padding: 10px 40px;
display: inline;
margin-left: 25px;
position: relative;
left: 500px;
bottom: 370px;

}
.contact a:hover{
    color: var(--secondary);
}

/*LAST SECTION FOOTER*/
footer{
    background-color: var(--secondary);
    color: var(--primary);
    height: 90px;
}
h4{
    position: relative;
    bottom: 0px;
    top: 30px;
    left: 20px;
    width: fit-content;
    font-size: 25px;
    display: flex;

}
